h1, h2{
	font-family: Tahoma;
	text-align: center;
}

.title{
	display: block;
	margin: 5px auto;
	text-align: center;
}

.project_title{
	font-family: Tahoma;
	text-align: center;
}	

.col-m-12.title_div{
	display: block;
	margin: 5px auto;
	border: 2px solid #333;
	min-width: 600px;
}

.project_img{
	display: block;
	margin: 0 auto;
	width: 95%;
	height: 85%;
}